<header class="siteheader">
    <div class="logo">
        <a style="color: white;" routerLink=""><i class='bx bxs-cat logoicon'></i>
        Cat<span class="logopart2">Lovers</span></a>                
    </div>  
    <nav>
      <ul class="navmenu">
        <li><a class="headeranchor" routerLink="products" routerLinkActive="active">Products</a></li>
        <li><a class="headeranchor" routerLink="about" routerLinkActive="active">About</a></li>
        <li><a class="headeranchor" routerLink="contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </header>